<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PetMapper">

    <select id="selectAll" resultType="com.example.entity.Pet">
        select pet.*, pet_shop.name as shopName, pet_type.name as typeName from `pet`
        left join pet_shop on pet.shop_id = pet_shop.id
        left join pet_type on pet.type_id = pet_type.id
        <where>
            <if test="name != null"> and pet.name like concat('%', #{name}, '%')</if>
            <if test="shopId != null"> and pet.shop_id = #{shopId}</if>
            <if test="recommend != null"> and pet.recommend = #{recommend}</if>
            <if test="status != null"> and pet.status = #{status}</if>
            <if test="typeId != null"> and pet.type_id = #{typeId}</if>
        </where>
        order by pet.id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Pet">
        select pet.*, pet_shop.name as shopName, pet_shop.avatar as shopAvatar, pet_type.name as typeName from `pet`
        left join pet_shop on pet.shop_id = pet_shop.id
        left join pet_type on pet.type_id = pet_type.id
        where pet.id = #{id}
    </select>

    <delete id="deleteById">
        delete from `pet`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Pet" useGeneratedKeys="true">
        insert into `pet`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="typeId != null">type_id,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="img != null">img,</if>
            <if test="price != null">price,</if>
            <if test="introduce != null">introduce,</if>
            <if test="content != null">content,</if>
            <if test="status != null">status,</if>
            <if test="recommend != null">recommend,</if>
            <if test="store != null">store,</if>
        </trim>
            values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="img != null">#{img},</if>
            <if test="price != null">#{price},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="content != null">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="recommend != null">#{recommend},</if>
            <if test="store != null">#{store},</if>
        </trim>

    </insert>

    <update id="updateById" parameterType="com.example.entity.Pet">
        update `pet`
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="introduce != null">
                introduce = #{introduce},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="recommend != null">
                recommend = #{recommend},
            </if>
            <if test="store != null">
                store = #{store},
            </if>
        </set>
        where id = #{id}

    </update>

</mapper>