<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PetOrdersMapper">

    <select id="selectAll" resultType="com.example.entity.PetOrders">
        select pet_orders.*, user.name as userName, pet_shop.name as shopName from `pet_orders`
        left join user on pet_orders.user_id = user.id
        left join pet_shop on pet_orders.shop_id = pet_shop.id
        <where>
            <if test="orderNo != null"> and pet_orders.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="petName != null"> and pet_orders.pet_name like concat('%', #{petName}, '%')</if>
            <if test="userId != null"> and pet_orders.user_id = #{userId}</if>
            <if test="shopId != null"> and pet_orders.shop_id = #{shopId}</if>
            <if test="status != null"> and pet_orders.status = #{status}</if>
        </where>
        order by pet_orders.id desc
    </select>

    <delete id="deleteById">
        delete from `pet_orders`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.PetOrders" useGeneratedKeys="true">
        insert into `pet_orders`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="petId != null">pet_id,</if>
            <if test="petName != null">pet_name,</if>
            <if test="petImg != null">pet_img,</if>
            <if test="price != null">price,</if>
            <if test="pickupUser != null">pickup_user,</if>
            <if test="pickupAddress != null">pickup_address,</if>
            <if test="pickupPhone != null">pickup_phone,</if>
            <if test="status != null">status,</if>
            <if test="time != null">time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="petId != null">#{petId},</if>
            <if test="petName != null">#{petName},</if>
            <if test="petImg != null">#{petImg},</if>
            <if test="price != null">#{price},</if>
            <if test="pickupUser != null">#{pickupUser},</if>
            <if test="pickupAddress != null">#{pickupAddress},</if>
            <if test="pickupPhone != null">#{pickupPhone},</if>
            <if test="status != null">#{status},</if>
            <if test="time != null">#{time},</if>
        </trim>

    </insert>

    <update id="updateById" parameterType="com.example.entity.PetOrders">
        update `pet_orders`
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId},
            </if>
            <if test="petId != null">
                pet_id = #{petId},
            </if>
            <if test="petName != null">
                pet_name = #{petName},
            </if>
            <if test="petImg != null">
                pet_img = #{petImg},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="pickupUser != null">
                pickup_user = #{pickupUser},
            </if>
            <if test="pickupAddress != null">
                pickup_address = #{pickupAddress},
            </if>
            <if test="pickupPhone != null">
                pickup_phone = #{pickupPhone},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id}

    </update>

</mapper>