<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AddressMapper">

    <select id="selectAll" resultType="com.example.entity.Address">
        select address.*, user.name as userName from `address`
        left join user on address.user_id = user.id
        <where>
            <if test="userName != null"> and user.name like concat('%', #{userName}, '%')</if>
            <if test="userId != null"> and address.user_id = #{userId}</if>
        </where>
        order by address.id desc
    </select>

    <delete id="deleteById">
        delete from `address`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Address" useGeneratedKeys="true">
        insert into `address`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="name != null">name,</if>
            <if test="address != null">address,</if>
            <if test="phone != null">phone,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="name != null">#{name},</if>
            <if test="address != null">#{address},</if>
            <if test="phone != null">#{phone},</if>
        </trim>

    </insert>

    <update id="updateById" parameterType="com.example.entity.Address">
        update `address`
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
        </set>
        where id = #{id}

    </update>

</mapper>