<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.VirtualGameMapper">

    <select id="selectAll" resultType="com.example.entity.VirtualGame">
        select virtual_game.*, virtual_game_shop.name as shopName, virtual_game_type.name as typeName from `virtual_game`
        left join virtual_game_shop on virtual_game.shop_id = virtual_game_shop.id
        left join virtual_game_type on virtual_game.type_id = virtual_game_type.id
        <where>
            <if test="name != null"> and virtual_game.name like concat('%', #{name}, '%')</if>
            <if test="shopId != null"> and virtual_game.shop_id = #{shopId}</if>
            <if test="recommend != null"> and virtual_game.recommend = #{recommend}</if>
            <if test="status != null"> and virtual_game.status = #{status}</if>
            <if test="typeId != null"> and virtual_game.type_id = #{typeId}</if>
        </where>
        order by virtual_game.id desc
    </select>

    <select id="selectById" resultType="com.example.entity.VirtualGame">
        select virtual_game.*, virtual_game_shop.name as shopName, virtual_game_shop.avatar as shopAvatar, virtual_game_type.name as typeName from `virtual_game`
        left join virtual_game_shop on virtual_game.shop_id = virtual_game_shop.id
        left join virtual_game_type on virtual_game.type_id = virtual_game_type.id
        where virtual_game.id = #{id}
    </select>

    <delete id="deleteById">
        delete from `virtual_game`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.VirtualGame" useGeneratedKeys="true">
        insert into `virtual_game`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="typeId != null">type_id,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="img != null">img,</if>
            <if test="price != null">price,</if>
            <if test="introduce != null">introduce,</if>
            <if test="content != null">content,</if>
            <if test="status != null">status,</if>
            <if test="recommend != null">recommend,</if>
            <if test="store != null">store,</if>
        </trim>
            values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="img != null">#{img},</if>
            <if test="price != null">#{price},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="content != null">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="recommend != null">#{recommend},</if>
            <if test="store != null">#{store},</if>
        </trim>

    </insert>

    <update id="updateById" parameterType="com.example.entity.VirtualGame">
        update `virtual_game`
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="introduce != null">
                introduce = #{introduce},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="recommend != null">
                recommend = #{recommend},
            </if>
            <if test="store != null">
                store = #{store},
            </if>
        </set>
        where id = #{id}

    </update>

</mapper>