<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.VirtualGameShopMapper">

    <select id="selectAll" resultType="com.example.entity.VirtualGameShop">
        select * from `virtual_game_shop`
        <where>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null"> and status = #{status}</if>
        </where>
        order by id desc
    </select>

    <delete id="deleteById">
        delete from `virtual_game_shop`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.VirtualGameShop" useGeneratedKeys="true">
        insert into `virtual_game_shop`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="name != null">name,</if>
            <if test="password != null">password,</if>
            <if test="avatar != null">avatar,</if>
            <if test="phone != null">phone,</if>
            <if test="sellPet != null">sell_virtual_game,</if>
            <if test="address != null">address,</if>
            <if test="introduce != null">introduce,</if>
            <if test="email != null">email,</if>
            <if test="role != null">role,</if>
            <if test="practiceLicense != null">practice_license,</if>
            <if test="principalName != null">principal_name,</if>
            <if test="principalNo != null">principal_no,</if>
            <if test="status != null">status,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="name != null">#{name},</if>
            <if test="password != null">#{password},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="phone != null">#{phone},</if>
            <if test="sellPet != null">#{sellPet},</if>
            <if test="address != null">#{address},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="email != null">#{email},</if>
            <if test="role != null">#{role},</if>
            <if test="practiceLicense != null">#{practiceLicense},</if>
            <if test="principalName != null">#{principalName},</if>
            <if test="principalNo != null">#{principalNo},</if>
            <if test="status != null">#{status},</if>
        </trim>

    </insert>

    <update id="updateById" parameterType="com.example.entity.VirtualGameShop">
        update `virtual_game_shop`
        <set>
            <if test="id != null">
            id = #{id},
            </if>
            <if test="username != null">
            username = #{username},
            </if>
            <if test="name != null">
            name = #{name},
            </if>
            <if test="password != null">
            password = #{password},
            </if>
            <if test="avatar != null">
            avatar = #{avatar},
            </if>
            <if test="phone != null">
            phone = #{phone},
            </if>
            <if test="sellPet != null">
            sell_virtual_game = #{sellPet},
            </if>
            <if test="address != null">
            address = #{address},
            </if>
            <if test="introduce != null">
            introduce = #{introduce},
            </if>
            <if test="email != null">
            email = #{email},
            </if>
            <if test="role != null">
            role = #{role},
            </if>
            <if test="practiceLicense != null">
            practice_license = #{practiceLicense},
            </if>
            <if test="principalName != null">
            principal_name = #{principalName},
            </if>
            <if test="principalNo != null">
            principal_no = #{principalNo},
            </if>
            <if test="status != null">
            status = #{status},
            </if>
        </set>
        where id = #{id}

    </update>

</mapper>